@font-face {
  font-family: 'Alexa';
  src: url('/fonts/Alexa.ttf') format('truetype');
}
@font-face {
  font-family: 'Amanda';
  src: url('/fonts/Amanda.ttf') format('truetype');
}
@font-face {
  font-family: 'Amsterdam';
  src: url('/fonts/Amsterdam.ttf') format('truetype');
}
@font-face {
  font-family: 'Austin';
  src: url('/fonts/Austin.ttf') format('truetype');
}
@font-face {
  font-family: 'Avante';
  src: url('/fonts/Avante.ttf') format('truetype');
}
@font-face {
  font-family: 'Barcelona';
  src: url('/fonts/Barcelona.ttf') format('truetype');
}
@font-face {
  font-family: 'Bayview';
  src: url('/fonts/Bayview.ttf') format('truetype');
}
@font-face {
  font-family: 'Beachfront';
  src: url('/fonts/Beachfront.ttf') format('truetype');
}
@font-face {
  font-family: 'Bellview';
  src: url('/fonts/Bellview.ttf') format('truetype');
}
@font-face {
  font-family: 'Buttercup';
  src: url('/fonts/Buttercup.ttf') format('truetype');
}
@font-face {
  font-family: 'Chelsea';
  src: url('/fonts/Chelsea.ttf') format('truetype');
}
@font-face {
  font-family: 'ClassicType';
  src: url('/fonts/ClassicType.ttf') format('truetype');
}
@font-face {
  font-family: 'Freehand';
  src: url('/fonts/Freehand.ttf') format('truetype');
}
@font-face {
  font-family: 'Freespirit';
  src: url('/fonts/Freespirit.ttf') format('truetype');
}
@font-face {
  font-family: 'Greenworld';
  src: url('/fonts/Greenworld.ttf') format('truetype');
}
@font-face {
  font-family: 'LoveNeon';
  src: url('/fonts/LoveNeon.ttf') format('truetype');
}
@font-face {
  font-family: 'LoveNote';
  src: url('/fonts/LoveNote.ttf') format('truetype');
}
@font-face {
  font-family: 'Marquee';
  src: url('/fonts/Marquee.ttf') format('truetype');
}
@font-face {
  font-family: 'Mayfair';
  src: url('/fonts/Mayfair.ttf') format('truetype');
}
@font-face {
  font-family: 'Melbourne';
  src: url('/fonts/Melbourne.ttf') format('truetype');
}
@font-face {
  font-family: 'Monaco';
  src: url('/fonts/Monaco.ttf') format('truetype');
}
@font-face {
  font-family: 'NeonGlow';
  src: url('/fonts/NeonGlow.ttf') format('truetype');
}
@font-face {
  font-family: 'NeonLite';
  src: url('/fonts/NeonLite.ttf') format('truetype');
}
@font-face {
  font-family: 'Neonscript';
  src: url('/fonts/Neonscript.ttf') format('truetype');
}
@font-face {
  font-family: 'Neontrace';
  src: url('/fonts/Neontrace.ttf') format('truetype');
}
@font-face {
  font-family: 'NeoTokyo';
  src: url('/fonts/NeoTokyo.ttf') format('truetype');
}
@font-face {
  font-family: 'Nevada';
  src: url('/fonts/Nevada.ttf') format('truetype');
}
@font-face {
  font-family: 'NewCursive';
  src: url('/fonts/NewCursive.ttf') format('truetype');
}
@font-face {
  font-family: 'Northshore';
  src: url('/fonts/Northshore.ttf') format('truetype');
}
@font-face {
  font-family: 'Photogenic';
  src: url('/fonts/Photogenic.ttf') format('truetype');
}
@font-face {
  font-family: 'Rocket';
  src: url('/fonts/Rocket.ttf') format('truetype');
}
@font-face {
  font-family: 'Royalty';
  src: url('/fonts/Royalty.ttf') format('truetype');
}
@font-face {
  font-family: 'SciFi';
  src: url('/fonts/SciFi.ttf') format('truetype');
}
@font-face {
  font-family: 'Signature';
  src: url('/fonts/Signature.ttf') format('truetype');
}
@font-face {
  font-family: 'Sorrento';
  src: url('/fonts/Sorrento.ttf') format('truetype');
}
@font-face {
  font-family: 'Typewriter';
  src: url('/fonts/Typewriter.ttf') format('truetype');
}
@font-face {
  font-family: 'Venetian';
  src: url('/fonts/Venetian.ttf') format('truetype');
}
@font-face {
  font-family: 'Vintage';
  src: url('/fonts/Vintage.ttf') format('truetype');
}
@font-face {
  font-family: 'Waikiki';
  src: url('/fonts/Waikiki.ttf') format('truetype');
}
@font-face {
  font-family: 'WildScript';
  src: url('/fonts/WildScript.ttf') format('truetype');
}
@font-face {
  font-family: 'Loveisland';
  src: url('/fonts/Loveisland.ttf') format('truetype');
}
